h1:before {
  content: "";
  display: block;
  height: 50px;
  margin: -30px 0 0;
}

.big-number-input {
  height: 10rem;
  max-width: 30rem;
  font-size: 6em;
  text-align: center;
}

.big-number-input::placeholder {
  font-size: 6rem;
  text-align: center;
}

.big-sign {
  height: 10rem;
  font-size: 6rem;
  text-align: center;
  margin: auto;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.gif-fit {
  width: 100%;
}